{% extends 'index.html' %}

{% load bootstrap5 %}

{% block title %} Eliminar Ruta {% endblock %}

{% block content %}
<style>
    .center-block {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        background-color: grey;
    }
</style>
    <div class="row">
        <div class="col border-bottom">
            <h1 style="color: red;" class="d-flex justify-content-center">Eliminar Ruta</h1>
        </div>
    </div>

    
        <hr>
        <div class="center-block">
            <form method="POST">
                <div class="d-flex justify-content-center">
                    <h4>Se eliminará la ruta de "<b>{{ ruta.origen }}</b>" a "<b>{{ ruta.destino }}</b>"</h4>
                </div>
                {% csrf_token %}
                {{ formulario }}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary btn-sm" href="{% url 'list_ruta' %}">Cancelar</a>
                    <input class="btn btn-danger btn-sm" type="submit" value="Confirmar">
                </div>
            </form>
        </div>
    
    
{% endblock %}