{% load static %}

<!-- Creación del nav lateral izquierdo -->
<nav id="sidebarMenu" style="background-color: grey;" class="col-md-3 col-lg-2 d-md-block sidebar navbar navbar-dark collapse">
    
    <div class="sidebar pe-4 pb-3 pt-3" style="background-color: rgb(51, 44, 44);">
        <a class="navbar-brand mx-4 mb-3" href="/">
            <h3 class="text-primary" style="color: red; padding-left: 50px;">BusesM</h3>
        </a>
        <a href="#" class="d-flex align-items-center ms-4 mb-4 text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="position-relative">
                <img src="{% static 'img/user.jpg' %}" alt="user_icon" width="40px" height="40px" class="rounded-circle">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0"> {{user.get_username}}</h6>
                <span>Admin</span>
                
            </div>
        </a>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Mantenedores</span>
        </h6>
        <ul class="flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/list_buses/">
                    <span data-feather="bi-bus-front" class="align-text-bottom">Buses</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rutas/">
                    <span data-feather="archive" class="align-text-bottom">Rutas</span>                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/disponibilidades/">
                    <span data-feather="archive" class="align-text-bottom">Crear Disponibilidad</span>                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span class="fixed_span_color" >Reservas</span>
        </h6>
        <ul class="flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/clientes/">
                    <span data-feather="users" class="align-text-bottom">Ultimos Clientes</span>
                </a>
            </li>
            
        </ul>
        <ul class="flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <span data-feather="shield" class="align-text-bottom">Puerta trasera temporal</span>
                </a>
            </li>
        </ul>
        <a href="{% url 'logout' %}" class="d-flex align-items-center text-white text-decoration-none mx-4 mb-3" id="dropdownUser1" style="height: 130px;">
            <span data-feather="log-out" class="align-text-bottom style=" style="padding-right: 1px;"></span>
            Cerrar sesión
        </a>
    </div>
</nav>